.LandingPageContent {
  height: 100vh;
  overflow: hidden;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);

  .content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;

    .buttons-area {
      margin: 45vh 0 0 0;
    }

    .image-container {
      img#background-image-landing {
        align-self: flex-end;
        filter: brightness(80%);
        margin: 0 19vw 0 15vw;
        width: auto;
        height: auto;
      }
    }
  }
}
