@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

@keyframes blink-large {
  0% {
    box-shadow: $bxshadow-large;
  }
  70% {
    $colors: "#fff", "transparent";
    $stars: $bxshadow-large;
    @for $i from 1 to length($stars) {
      $star: set-nth(
        nth($stars, $i),
        3,
        unquote(nth($colors, random(length($colors))))
      );
      $stars: set-nth($stars, $i, $star);
    }
    box-shadow: $stars;
  }
  100% {
    box-shadow: $bxshadow-large;
  }
}

@keyframes blink-medium {
  0% {
    box-shadow: $bxshadow-medium;
  }
  70% {
    $colors: "#fff", "transparent";
    $stars: $bxshadow-medium;
    @for $i from 1 to length($stars) {
      $star: set-nth(
        nth($stars, $i),
        3,
        unquote(nth($colors, random(length($colors))))
      );
      $stars: set-nth($stars, $i, $star);
    }
    box-shadow: $stars;
  }
  100% {
    box-shadow: $bxshadow-medium;
  }
}

@keyframes blink-small {
  0% {
    box-shadow: $bxshadow-small;
  }
  70% {
    $colors: "#fff", "transparent";
    $stars: $bxshadow-small;
    @for $i from 1 to length($stars) {
      $star: set-nth(
        nth($stars, $i),
        3,
        unquote(nth($colors, random(length($colors))))
      );
      $stars: set-nth($stars, $i, $star);
    }
    box-shadow: $stars;
  }
  100% {
    box-shadow: $bxshadow-small;
  }
}

@keyframes run {
  0% {
    left: 0vw;
    bottom: 10vh;
  }
  5% {
    left: 5vw;
    bottom: 12vh;
  }
  10% {
    left: 10vw;
    bottom: 10vh;
  }
  15% {
    left: 15vw;
    bottom: 12vh;
  }
  20% {
    left: 20vw;
    bottom: 10vh;
  }
  25% {
    left: 25vw;
    bottom: 12vh;
  }
  30% {
    left: 30vw;
    bottom: 10vh;
  }
  35% {
    left: 35vw;
    bottom: 12vh;
  }
  40% {
    left: 40vw;
    bottom: 10vh;
  }
  45% {
    left: 45vw;
    bottom: 12vh;
  }
  50% {
    left: 50vw;
    bottom: 10vh;
  }
  55% {
    left: 55vw;
    bottom: 12vh;
  }
  60% {
    left: 60vw;
    bottom: 10vh;
  }
  65% {
    left: 65vw;
    bottom: 11vh;
  }
  70% {
    left: 70vw;
    bottom: 10vh;
  }
  75% {
    left: 75vw;
    bottom: 12vh;
  }
  80% {
    left: 80vw;
    bottom: 10vh;
  }
  85% {
    left: 85vw;
    bottom: 12vh;
  }
  90% {
    left: 90vw;
    bottom: 10vh;
  }
  95% {
    left: 95vw;
    bottom: 12vh;
  }
  100% {
    left: 100vw;
    bottom: 10vh;
  }
}

@keyframes swing {
  0% {
    transform: rotateZ(5deg);
  }
  50% {
    transform: rotateZ(5deg);
  }
  100% {
    transform: rotateZ(-5deg);
  }
}
