@mixin remove-link-styling {
  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

@mixin side-vertical-lines {
  background: #e5e5e5;
  content: "";
  display: inline-block;
  height: 2px;
  vertical-align: middle;
  width: 50%;
  @include respond(tab-port) {
    width: 37%;
  }
}

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    } //600px
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      @content;
    } //900px
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {
      @content;
    } //1200px
  }
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      @content;
    } //1800
  }
}
