.character-line-wrapper {
  display: flex;
  .character-line {
    margin: 0.2rem 0 2rem 0;
    overflow-anchor: none;

    .character-line__text {
      display: flex;
      flex-wrap: wrap;
      margin: 1rem;
    }
  }
}
