.navigation-link-box__link {
  flex: 3 10 1;
  display: flex;
  flex-wrap: nowrap;
  margin: 0 1rem;
  text-transform: uppercase;
  @include remove-link-styling;

  .link_icon {
    width: 3.3rem;
    margin: 0.5rem 0.5rem 1rem 1rem;
  }

  .link-text__responsive {
    color: $color-black;
    @include respond(phone) {
      display: none;
    }
    &.white {
      color: $color-white;
    }
    &:hover {
      color: $color-grey-dark;
    }
  }
}
