.navigation-link-box__link {
  flex: 3 10 1;
  display: flex;
  flex-wrap: nowrap;
  margin: 0 1rem;

  &.disabled {
    color: $color-grey-dark;
  }

  .link_icon {
    width: 3.3rem;
    margin: 0.5rem 0.5rem 1rem 1rem;
  }

  .link-text__responsive {
    @include respond(phone) {
      display: none;
    }
  }
}
