.loader-container {
  margin: 0;
  padding: 0;
  background-color: #000d2b;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  display: block;

  &.visible {
    visibility: visible;
    opacity: 1;
  }

  &.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 1s, opacity 1s linear;
  }
}

.stars.large {
  height: 3px;
  width: 3px;
  background: transparent;
  box-shadow: $bxshadow-large;
  animation: blink-large 5s infinite;
}
.stars.medium {
  height: 2px;
  width: 2px;
  background: transparent;
  box-shadow: $bxshadow-medium;
  animation: blink-medium 3s infinite;
}
.stars.small {
  height: 1px;
  width: 1px;
  background: transparent;
  box-shadow: $bxshadow-small;
  animation: blink-small 1s infinite;
}

.unicorn {
  width: 100px;
  position: absolute;
  bottom: 100px;
  left: 100px;
  transform: rotateY(180deg);
  animation-name: run;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  display: inline-block;
}
.unicorn img {
  width: 100px;
  transform: rotateY(180deg);
  position: relative;
  animation-name: swing;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

.unicorn:after {
  content: "";
  position: relative;
  display: inline-block;
  left: 100px;
  bottom: 35px;
  background: linear-gradient(
    #ff0000,
    #ff9900,
    #fff900,
    #00ff00,
    #1700ff,
    #b100ff
  );
  height: 20px;
  width: 100px;
}
