.navigation {
  height: 4rem;
  background-color: transparent;
  padding: 1rem;
  position: fixed;
  left: 20vw;
  right: 20vw;

  .navigation-link-box {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
  }
}
