.full-height {
  margin: 10rem;
  height: 80vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-r {
  position: relative;
}

.code {
  border-right: 3px solid;
  font-size: 55px;
  padding: 0 10px 0 10px;
  text-align: center;
}

.message {
  margin-left: 2rem;
  font-size: 40px;
  text-align: center;
}
