html {
  box-sizing: border-box;

  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

  @include respond(phone) {
    font-size: 30%;
  }

  @include respond(tab-land) {
    // width < 1200?
    font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
  }

  @include respond(tab-port) {
    // width < 900?
    font-size: 40%; //1 rem = 8px, 8/16 = 50%
  }

  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12, 12/16
  }

  body {
    overflow: hidden;
  }
}

*,
*:not(img),
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.link {
  display: inline-block;
  @include remove-link-styling;
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(197, 7, 7);
  outline: 1px solid slategrey;
}
