html {
  box-sizing: border-box;

  // Defines what 1ram should be, not typography
  font-size: 62.5%;
}

*,
*:not(img),
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/*.image-overlay-dark{
  opacity: 0.9;
  background-color: black;
} */
