body {
  font-size: 6rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $color-grey-dark;
  //padding: 3rem;
}

.story-cover__name {
  font-size: 3rem;
  font-weight: 300;
}
